<% provide(:title, 'All users') %>
<h3>ユーザー一覧</h3>

<%= search_form_for @q do |f| %>
  <%= f.label :name1_cont, "氏名" %>
  <%= f.search_field :name1_cont %>
  <%= f.submit "検索" %>
<% end %>

<table border="1">
  <tbody>
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザ名</th>
        <th>ユーザ名かな</th>
        <th>メールアドレス</th>
        <th>住所</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= link_to user.name1, user %></td>
        <td><%= link_to user.name2, user %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= link_to user.address, user %></td>
        <td><%= link_to "編集", user %></td>
        <td><%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>