<% provide(:title, 'All users') %>
<h3>ユーザ一覧</h3>

<%= search_form_for @q do |f| %>
  <%= f.label :name1_cont, "氏名" %>
  <%= f.search_field :name1_cont %>
  <%= f.submit "検索" %>
<% end %>

<table border="1">
  <tbody>
    <thead>
      <tr>
        <th>ID</th>
        <th>ユーザ名</th>
        <th>ユーザ名かな</th>
        <th>メールアドレス</th>
        <th>住所</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= link_to u.name1, u %></td>
        <td><%= u.name2 %></td>
        <td><%= u.email %></td>
        <td><%= u.address %></td>
        <td><%= link_to "編集", u %></td>
        <td><%= link_to "削除", u, method: :delete, data: { confirm: "削除しますか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>